<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
	<bean class="tool.Fripan" id ="fripan"></bean>
	<bean class="tool.ElectPan" id ="electPan"></bean>
	<bean class="job.Cook" id ="cook">
		<property name="pan" ref="fripan"></property>
	</bean>
	
</beans>