<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MVCFrame</display-name>
  
  
  <!-- 앞으로 모든 클라이언트의 요청을 아래 명시한 서블릿이 감당할 예정 -->
  <servlet>
  	<servlet-name>Dispatcher</servlet-name>
  	<servlet-class>com.koreait.mvc.controller.DispatcherServlet</servlet-class>
  	<init-param>
  		<param-name>mappingPath</param-name>
  		<param-value>WEB-INF/mapping.data</param-value>
  	</init-param>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Dispatcher</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>

</web-app>