<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>project1207</display-name>
  
  
  <servlet>
  	<servlet-name>editServlet</servlet-name>
  	<servlet-class>com.koreait.project1207.servlet.EditServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>	editServlet</servlet-name>
  	<url-pattern>/notice/edit</url-pattern>
  </servlet-mapping>

</web-app>