<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="com.koreait.project1210.domain.Map" alias="MapDTO"/>
</typeAliases>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="JNDI">
      <property name ="data_source" value="java:comp/env/jdbc/mysql"/>
        <!--  <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/jsp?characterEncoding=utf8"/>
        <property name="username" value="root"/>
        <property name="password" value="1234"/>
        -->
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="com/koreait/mybatis/MapMapper.xml"/>
  </mappers>
</configuration>